In [71]:
import pandas as pd 
import numpy as np

In [72]:
# make data frame for age column
df = pd.DataFrame({'Age':[20,21,22,23,24,25,26,27,28,29,30,25,26,27,28,29,30,50]})
df

    Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   25
12   26
13   27
14   28
15   29
16   30
17   50

In [73]:
df.boxplot()

In [74]:
# calculate mean and standard deviation
mean = df['Age'].mean()
std = df['Age'].std()
print(mean)
print(std)

27.22222222222222
6.421980229287496

In [75]:
#calculate z-score
z_scores = (df['Age'] - mean)/std
z_scores

0    -1.124610
1    -0.968895
2    -0.813179
3    -0.657464
4    -0.501749
5    -0.346034
6    -0.190319
7    -0.034603
8     0.121112
9     0.276827
10    0.432542
11   -0.346034
12   -0.190319
13   -0.034603
14    0.121112
15    0.276827
16    0.432542
17    3.546846
Name: Age, dtype: float64

In [76]:
#print the otliers
print(z_scores > 3)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
Name: Age, dtype: bool

In [77]:
# using scipy to detect outliers
from scipy import stats
z_scores = stats.zscore(df['Age'])
print(z_scores < 2.5)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True False]

In [78]:
# now remove 30 age outlier
df = df.drop(df[df['Age'] > 3].index)
df.head()

Empty DataFrame
Columns: [Age]
Index: []

In [79]:
# create new data frame that consist 2 outliers and name is salary column
data = pd.DataFrame({'salary':[2000,2111,2200,2300,2411,2500,2600,2700,2800,2900,3000,2500,2600,2700,2800,2900,3000,5000]})
data

    salary
0     2000
1     2111
2     2200
3     2300
4     2411
5     2500
6     2600
7     2700
8     2800
9     2900
10    3000
11    2500
12    2600
13    2700
14    2800
15    2900
16    3000
17    5000

In [80]:
#plot box plot
data.boxplot()

In [81]:
# detect and remove outliers using IQR
Q1 = data['salary'].quantile(0.25)
Q3 = data['salary'].quantile(0.75)
IQR = Q3 - Q1

In [82]:
#calculate lower bound and upper bound
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)
print(lower_bound)
print(upper_bound)

1770.625
3537.625

In [83]:
#remove outliers
data = data[(data['salary'] > lower_bound) & (data['salary'] < upper_bound)]
df

Empty DataFrame
Columns: [Age]
Index: []

In [87]:
# make box plot of salary column
data.boxplot()